.deps/
.dirstamp
stamp-h?
/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/depcomp
/install-sh
/missing
/src/*.o
/src/somato
